html,body {
  margin: 0;
  padding: 0;
} 
.search-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  color: #000;
  // button + button {
  //   margin-left: 15px;
  // }
}

.base-table {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0 ;
    padding: 15px;
  }
}

.search-form + .base-table {
  margin-top: 20px;
}